{% extends "layout.html" %}
{% block content %} 
    <h1>Welcome to the Ian Brian Foundation</h1>
    <p>The Ian Brian Foundation was established in 2020 after an idea by the founder during the corona virus pandemic</p>
    <p>The foundation works hand in hand with different foundations,companies and even sometimes the government to help out the dissabled person(s) in the community to get educated in technology and provision of basic resources for their livelihood</p>
   
<!--    
    <h1 id="myHeader">hey there!</h1>


<button onclick="displayResult()">Change text</button>

<script>
function displayResult() {
  document.getElementById("myHeader").innerHTML = "Have a nice day!";
}
</script> -->
{% endblock content %}

